# ===================================================================
# ambiente
# ===================================================================

NODE_ENV=development

# ===================================================================
# frontend/.env
# ===================================================================

PORT_FRONTEND=3000
WATCHPACK_POLLING=true
NEXT_PUBLIC_API_URL="http://localhost:4000/api"

# ===================================================================
# backend/.env
# ===================================================================

PORT_BACKEND=4000
SALT_ROUNDS=10

# Chave secreta para assinatura de tokens JWT de Desenvolvimento
JWT_SECRET="e3b7f1c8d2a4f6b9c0e5a7d4f2b8c1e6a9f3b7c2d5e8a1f4b6c3e7d9a2f5b8c"
JWT_EXPIRES_IN="1h"

# ===================================================================
# Prisma
# ===================================================================

PRISMA_STUDIO_PORT=5555

# --------------------------------------------------------------------------------
# Conexão com SQLite (desenvolvimento local)
# – Utilize o prefixo file: para o path relativo ao arquivo .env
# – Mantenha o arquivo .db fora do versionamento (.gitignore)
# --------------------------------------------------------------------------------
DATABASE_SQLITE_URL="file:../.././database/dev.db"

# --------------------------------------------------------------------------------
# Conexão com PostgreSQL (produção)
# – Substitua os placeholders pelos valores reais em produção
# – Caso precise usar outro schema além de public, adicione ?schema=meu_schema
# --------------------------------------------------------------------------------
DATABASE_POSTGRESQL_URL="postgresql://postgres:admin@localhost:5432/desenroladb?schema=public"

# --------------------------------------------------------------------------------
# Conexão com MySQL (produção)
# – Substitua os placeholders pelos valores reais em produção
# – Você pode adicionar flags extras (ex: ?sslmode=require) conforme necessidade
# --------------------------------------------------------------------------------
# DATABASE_URL="mysql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>"